* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    width: 900px;
    height: 160px;
    text-decoration: none;
   /* font-style: bold;*/
    /*border: 2px solid red;*/
}

.itens-menu {
    display: inline-flex;
   /* float: center;*/
    margin-top: 50px;
    /*
    margin-top: -100px;*/
}

    .itens-menu li {
        padding: 10px;
        list-style-type: none;
        color: black;
        /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        font-size: 17px;
    }

.logo {
    width: 250px;
    height: 156px;
}

.menu a {
    text-decoration: none;
    color: black;
}

    .menu a:visited {
        color: black;
        /*
    list-style-type: none;*/
    }

    .menu a:hover {
        /*color: rgb(238, 42, 245);*/
        color: #FF5FBF;
        font-size: 18px;
        font-weight: bold;
    }
/*
.main {
    display: block;
    width: 900px;
    height: auto;
}
.main img {
    margin: 0px;
    width: 425px;
    height: 340px;
}*/
h3 {
    text-align: center;
    background-color: rgb(247, 76, 213);
    width: 900px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
}
.titulo_h4 {
    margin-left: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

p {
    text-indent: 20px;
    font-size: 14px;
}

/*Container*/
div.container {
    width: 900px;

}

.main {
    display: block !important;
    width: 900px;
    height: auto;
}
.tendencias{
    width: 900px;
    height: auto;
    text-align: center;
}

.destaques {
    width: 900px;
    height: auto;
    text-align: center;
}

.main img {
    margin: 0px;
    width: 265px;
    height: 231px;

}

.rosa {
  /*  background-color: rgb(247, 76, 213);*/
    background: #FF5FBF;
}

    footer p {
        font-family: 
}


footer {
    /* background-color: rgb(247, 76, 213);*/
    background: #FF5FBF;
    width: 900px;
    height: auto;'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
        text-align: center;
        padding: 30px;
        /*font-style: bold;*/
    }


.label {
    line-height: 45px;
}

/*#form {
    position: relative;
    margin-top: 250px;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: min-content;
    align-items: center;
    color: #2b344b;
    background: #FBFBFB;
    box-shadow: -1px 3px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}*/

#form {
    padding: 40px;
    width: min-content;
    border-radius: 30px;
    box-shadow: -1px 3px 5px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    color: #2b344b;
    /*background-color: red;*/
}
    #form .item {
        position: relative;
        left: 60px;
        text-decoration: none;
        color: black;
    }

.input input {
    width: 360px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #C7C7C7;
    box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 20px;
}

.checkbox h4 {
    font-size: 21px;
    padding: 2px;
    line-height: 45px;
    margin-top: 14px;
}

.checkbox .check-label {
    font-size: 19px;
    line-height: 35px;
    padding-left: 8px;
}


#btn {
    margin-top: 3%;
    width: 100%;
    text-align: center;
}
    #btn .btn1 {
        width: 150px;
        height: 50px;
        /*  background: #FF5FBF;*/
        background: #FF5FBF;
        border-radius: 10px;
        border: none;
    }

/* título principal e outros títulos */

.principal .title {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 10%;
    text-align: center;
}

.principal .label {
    font-size: 21px;
    padding: 8px;
}

/* itens dentro do campo de preenchimento do forms */

.input #email {
    font-size: 15px;
    padding-left: 5px;
}

.input #senha {
    font-size: 15px;
    padding-left: 5px;
}

/*
.input #confirmarsenha {
    font-size: 15px;
    padding-left: 5px;
}
*/
/* botão cadastre-se */
/**/
/*#btnLogin .btn1{
    font-size: 16px;
    align-items: center;
    font-weight: bold;

}*/

/**/
/* links finais */
